@font-face {
    font-family: 'texto';
    src: url('../fonts/texto.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'texto-b';
    src: url('../fonts/texto-bold.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'titulo';
    src: url('../fonts/titulo.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "bootstrap-icons";
    src: url("../fonts/bootstrap-icons.woff2?231ce25e89ab5804f9a6c427b8d325c9") format("woff2"),
  url("../fonts/bootstrap-icons.woff?231ce25e89ab5804f9a6c427b8d325c9") format("woff");
  }


  
::-moz-selection { color: white;  background: #111111; }
::selection      { color: white;  background: #111111; }
:focus{ box-shadow: none !important;}

a {
    color: #111111 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

::placeholder,input {
    font-family: texto !important;
}

p,a,label,span,button,.btn,select {
    font-family: texto;
}

strong {
    font-family: texto-b;
}

h1,h2,h3,h4,h5,h6 {
    font-family: titulo !important;
    font-weight: normal;
}

#add-cat {
    cursor: pointer;
}

.h-fit {
    height: fit-content;
}

.w-fit {
    width: fit-content !important;
}

#img{
    border-radius: 10px;
}

.w-10 {
    width: 10% !important;
}

#git{
    transform: rotate(
        90deg
        );
    top: 10%;
    position: absolute;
    right: 10%;
    float: right;
    font-size: 15px;
}

.img-2{
    width: 170px !important;
    float: left;
    height: 230px;
    border-radius: 20px !important;
    background-color: #ffffff;
    -moz-box-shadow:    inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
}

.img-4{
    width: 170px !important;
    float: left;
}

.img-3{
    float: left;
    margin: 0 5px;
    height: 200px;
    border-radius: 20px !important;
    background-color: #ffffff;
    -moz-box-shadow:    inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    min-width: 135px !important;
}

#perfil > li > a{
    font-size: 12px;
}

.color-black{
    color: #111111;
}

.boton-cerrar-m{
    top: 0;
    right: 0;
    z-index: 2;
}

.img-5{
    float: left;
    height: 320px;
    border-radius: 20px !important;
    background-color: #ffffff;
    -moz-box-shadow:    inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    font-size: 14px;
    box-sizing: border-box;
    border: 10px solid #f7f7f7;
}


.img-6{
    float: left;
    height: 120px;
    width: 100%;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
}

.alert-danger {
    color: #111 !important;
    background-color: #ffffff !important;
    border-color: #111 !important;
    border-radius: 30px !important;
    font-family: "texto-b" !important;
    z-index: 9999 !important;
}

.border-radius{
    border-radius: 10px;
}

#com {
	height: 200px;
	overflow-y: scroll;
}

.ver-mas{
    float: left;
    margin: 0 0 0 5px;
    height: 200px;
    border-radius: 20px !important;
    background-color: #ffffff;
    border: 1px solid #111111;
    color: #ffffff;
    font-size: 20px;
    min-width: 135px !important;
}

.ver-mas p{
    padding-top: 70px;
}

.buscador-icon{
    font-size: 12px;
    position: absolute;
    left: 35px;
    padding-top: 10px;
}

.comment-img2{
    padding-right: 2rem !important;
}

.bottom-0 {
    bottom: 0 !important;
}

.bg-black{
    background-color: #111111 !important;
}

.bg-gray{
    background-color: rgba(17,17,17, 0.07) !important;
}

.bg-line{
    border: 1px solid #111111 !important;
    background-color: #ffffff !important;
}

.cat-post{
    font-size: 10px;
    border-radius: 25px;
    text-transform: uppercase;
}

.cat {
    font-size: 13px;
    text-transform: uppercase;
}

a.nav-link{
    color: #111 !important;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

.container,section{
    animation: fade 2s ease;
}

.card {
    border-radius: 15px !important;
    /* float: left;
    transition-delay: 0.5s;
    animation: move-up 1.5s ease 1; */
}

/* RATING */

.rating {
    border: none;
    float: left;
    margin-right: 5px;
  }
  
  .rating > label {
    color: #000000;
    float: right;
  }
  
  .rating > label:before {
    margin: 1px;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    content: "\f588";
    display: inline-block;
  }
  
  .rating > input, .rating > input[type="radio"]::after, .rating > input[type="radio"] {
    display: none;
  }
  
  .rating > input:checked ~ label::before,
  .rating:not(:checked) > label:hover, .rating > input:hover ~ label::before,
  .rating:not(:checked) > label:hover ~ label::before {
    content: "\f586";
    color: #000000;
  }
  

@media (max-width: 992px){
.card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
}

@media (max-width:1380px){
    .container,.container-lg,.container-md,.container-sm,.container-xl{
    max-width: 940px !important;
}
}

@media (max-width: 1199px){
.circulo-mas{
    bottom: 35px !important;
    height: 55px !important;
    width: 55px !important;
    right: 50% !important;
    transform: translateX(50%);
}

body > div.container.mt-5.align-middle.h-100 > div > div.col-12.text-center.mt-5 > button {
    margin-top: 0 !important;
}

}

@media (max-width: 767px){
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .img-5{
        float: left;
        margin: auto !important;
        height: 200px;
        border-radius: 20px !important;
        background-color: #ffffff;
        -moz-box-shadow:    inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
        box-shadow:         inset 0px -70px 20px -15px rgba(0, 0, 0, 0.5);
        background-position: center;
        background-size: cover;
        color: #ffffff;
        font-size: 14px;
        border: 0px;
    }

    .img-perfil{
        width: 120px !important;
        margin: 3rem 0 !important;
    }

}

@media (max-width: 500px){

    .img-perfil{
        width: 90px !important;
        margin: 3rem 0 !important;
    }

}



.num-pr{
    font-size: 18px;
}

.num-des-pr{
    font-size: 12px;
    opacity: .6;
    margin-top: -5px;
}

.estadisticas{
    max-width: 390px !important;
}

p.time {
    font-size: small;
    margin: 23px 0;
    padding-right: 20px;
    opacity: .5;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #111 !important;
    font-family: 'texto-b';
    background-color: transparent !important;
    background-size: 100% 2px;
}

.btn-dark{
    background-color: #111111 !important;
    color: #ffffff !important;
    border: 1px solid #111111 !important;
}

.btn-dark:hover {
    background: #ffffff !important;
    color: #111111 !important;
    border: 1px solid #111111 !important;
}

.modal-content{
    border-radius: 0% !important;
}

.logo {
    font-family: titulo;
    font-size: 40px;
    margin-top: 25px;
}

form > p {
    font-family: texto-b;
}

.menu-activo {
    opacity: 1;
}

ul li,
ol li {list-style: none;}
input:invalid {
    border: 1px solid red;
}

.cuerpo{
    width: 80%;
    padding: 5%;
    float: left;
    margin: 0 10%;
    animation: fade 1.5s ease 1;
}


input[type="checkbox"],
input[type="radio"] {
	background-color: #fff;
    border: none;
    display: inline-block;
    position: relative;
    height: 15px;
    width: 15px;
    color: #fff !important;
	outline: none;
	padding: 0px;
    -webkit-border-radius: 90px;
   	-moz-border-radius: 90px;
    border-radius: 90px;
	
    -webkit-box-shadow: none;
   	-moz-box-shadow: none;
    box-shadow: none;
	
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="checkbox"]:after,
input[type="radio"]:after {
    background-color: #fff;
    border: 1px solid #000;
    content: '';
    position: relative;
    display: block;
    left: 1px;
    top: 1px;
    width: 15px;
    height: 15px;
    
    -webkit-border-radius: 90px;
   	-moz-border-radius: 90px;
    border-radius: 90px;
}

input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
    background-color: #000 !important;
} 

.iconos-menu {
    opacity: 0.4;
}

.menu {
    display: grid;
}

body{
    background-color: #f7f7f7;
    margin: 0%;
    margin-bottom: 100px !important;
}

.nueva-foto-btn {
    float: right; width: 10%; vertical-align: middle; height: 100vh; display: contents;
}

.github {
    display: block;
    float: right; 
    position: fixed; 
    top: 35px; 
    right: 80px;
    font-size: 25px;
    z-index: 9999;

}

.circulo-mas{
    background-color: #111111; border-radius: 50%; width: 55px; height: 55px; position: fixed; bottom: 50px; right: 70px;
    z-index: 9990;
}

.tabs {
    position: relative;
    width: 100%;
  }
  
  .tabs__controller {
    position: absolute;
    opacity: 0;
    top: -0.8rem;
    left: -0.8rem;
  }
  
  .tabs__row {
    display: flex;
    padding: 0;
    background-color: transparent;
    list-style: none;
    margin: 0 auto;
    width: 100%;
    max-width: 30rem;
    position: relative;
  }
  
  .tabs__row:after {
    content: "";
    display: block;
    width: 50%;
    height: .5px;
    background-color: #111111;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
  }
  

  
  .tabs__controller#tab-general:checked ~ .tabs__button.general {
      font-family: "texto-b !important";
  }

  input:checked ~ .tabs__button {
    font-family: "texto-b !important";
}

  .tabs__controller#tab-general:checked ~ .tabs__row:after {
    left: 50%;
  }
  
  .tabs__item {
    padding: 5% 5%;
    width: 40%;
    
  }
  
  .tabs__button {
    font-family: "texto";
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s;
  }


nav.control{
    width: 10%; 
    height: 100vh; 
    display: grid; 
    margin: 0px; 
    position: fixed;
    float: left; 
    text-align: center; 
    background-color: #ffffff;
}



input {
    border-radius: 20px;
    border: 1px solid #111111;
    background-color: #ffffff;
    padding: 10px 3%;
    width: 94%;
    font-family: texto;
    font-size: 14px;

}

body.nuevo {
    background-color: #fff;
}

.titulo-nuevo{
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-family: texto-b;
    font-size: 64px;
    color: transparent !important;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    position: fixed;
    bottom: 30%;
    width: max-content;
    display: block;
    left: -150px;
    float: left;
}

img.cerrar{
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=submit] {
    background-color: #111111;
    color: #ffffff;
    font-family: texto-b;
    font-size: 16px;
    padding: 10px 10%;
    margin-top: 20px;
    width: 100%;
    -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #111111;
    font-family: texto-b;
    -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

input:focus {outline: none;}

@media only screen and (max-width: 767px){
/*    .gallery-container {
        display: grid;
        grid-template-columns: 100% !important;
        grid-row-gap: 3% !important;

    }*/

    .cuerpo{
        width: auto;
        padding: 5% 0;
        margin: 0 5%;
    }

    .menu {
        display: grid;
        margin-top: 25px;
        width: 100%;
        padding: 5% 5%;
        grid-template-columns: 15% 35% 35% 15%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        background: #fff;
    }

    body > nav.control > section > div:nth-child(2){
      padding-right: 25%;
  }

  body > nav.control > section > div:nth-child(3){
      padding-left: 25%;
  }

    nav.control{
        width: 100%; 
        height: fit-content; 
        display: grid; 
        margin: 0px; 
        position: relative;
        float: left; 
        text-align: center; 
        background-color: transparent;
    }
}



    div.photo-block {
    height: fit-content;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
    border:0;
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
    transition-delay: 0.5s;
    animation: move-up 1.5s ease 1;
    }

    .photo-metadata-block{
        margin:20px;
    }

    p.photo-title {
        font-size: 14px;
        font-family: 'texto-b';
        width: fit-content;
        margin: 0;
        float: left;
    }

    p.photo-title::after {
        content: "·";
        font-size: 14px;
        font-family: 'texto-b';
        width: fit-content;
        margin: 0 5px;
    }

    p.photo-description {
        font-size: 14px;
        font-family: 'texto';
        width: fit-content;
        margin: 0;
        word-break: normal;
        word-wrap: break-word;
        float: left;
    }

    h3.photo-score {
        font-size: 90%;
        font-family: 'texto';
    }

    img.photo-image {
    width: 100%;
    }

    #photo-detalle{
        border-radius: 15px;
    }

    .tooltip{
        font-family: "texto" !important;
    }

    .toast{
        position: absolute;
        top: 50%;
        right: 0;
    }

    .back {
        width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    margin: 0%;
    filter: blur(1000000px);
    -webkit-filter: blur(1000px);
    z-index: -50;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    }

    .comentario{
        font-size: 14px !important;
    }

    .profile-ph-post{
        width: 25px;
        float: left;
        margin: 20px;
        border-radius: 50px;
    }

    .img-perfil{
        width: 140px;
        float: left;
        margin: 3rem;
    }

    .profile-ph-detail{
        width: 25px;
        float: left;
        margin: 20px 0 20px 10px;
        border-radius: 50px;
    }

    .user{
    font-family: texto-b;
    width: fit-content;
    float: left;
    margin: 23px 0;
    }

    .user::before{
        content: "@";
        font-family: texto-b;
        width: fit-content;
        float: left;
        }
        
    @keyframes move-up {
        0% { 
            
            transform: translate(0,350px);
          -webkit-transform: translate(0,350px);
          -o-transform: translate(0,350px); 
          -moz-transform: translate(0,350px);
        }
        100% { 
            
                transform: translate(0,0px);
          -webkit-transform: translate(0,0px);
          -o-transform: translate(0,0px); 
          -moz-transform: translate(0,0px);
        }
      }

    @keyframes fade {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    body.nuevo::after {
        content: "";
        background: #fff;
        width: 100%;
        height: 100%;
        position: fixed;
        top: -100vw;
        left: 0;
        transition: all .3s;
    }




